.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: rgb(248,248,248);
  width: 100%;
}
.logo-wrapper {
  margin-left: 25px;
}
.logo-wrapper img {
  cursor: pointer;
}
.user-info-wrapper {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.user-info-wrapper h5 {
  margin-right: 10px;
}
.user-info-wrapper span {
  font-size: 14px;
  cursor: pointer;
  color: dodgerblue;
}
.user-info-wrapper span:hover {
  text-decoration: underline;
}
.search-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.search-wrapper input {
  padding: 10px 15px;
  width: 300px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 15px;
}
.searchBtn {
  position: absolute;
  right: 5px;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  color: #F9BDA6;
}
.searchBtn i {
  font-size: 20px;
}
h5{
  text-decoration: underline;
}
